{deps,
    [ %% not all plugins have to depend on emqx
      %% but if they do, use git_subdir in the default profile
    {emqx, {git_subdir, "https://github.com/emqx/emqx.git", {branch, "master"}, "apps/emqx"}},
      %% this is my plugin's dependency
    {brod, {git, "https://github.com/kafka4beam/brod.git", {tag, "3.16.3"}}},
    {kafka_protocol, {git, "https://github.com/kafka4beam/kafka_protocol.git", {tag, "4.1.0"}}},
    {crc32cer, {git, "https://github.com/kafka4beam/crc32cer", {branch, "master"}}},
    {snappyer,{git, "https://github.com/kafka4beam/snappyer", {tag, "1.2.8"}}}
    ]}.

{plugins, [
    {emqx_plugrel, {git, "https://github.com/emqx/emqx_plugrel.git", {tag, "0.3.0"}}}
]}.

{erl_opts, [debug_info]}.

{relx, [ {release, {emqx_plugin_kafka, "5.0.0"}, %% this is the release version, different from app vsn in .app file
            [ emqx_plugin_kafka
            ,brod
            ,kafka_protocol
            ,crc32cer
            ,snappyer
            ]}
       , {dev_mode, false}
       , {include_erts, false}
       ]}.

%% Additional info of the plugin
{emqx_plugrel,
    [ {authors, ["biaogd"]}
    , {builder,
        [ {name, "biaogd"}
        , {contact, "biaogd@outlook.com"}
        , {website, ""}
        ]}
    , {repo, "https://github.com/biaogd/emqx-plugin-kafka"}
    , {functionality, ["emqx-plugin-kafka"]}
    , {compatibility,
        [ {emqx, "~> 5.0"}
        ]}
    , {description, "This is a emqx bridge for kafka"}
    ]
}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,warnings_as_errors,deprecated_functions]}.
